@page "/addon/wiki"

<h3>Wiki</h3>
There will be both a user assisted Wiki and a mod only wiki per addon.
There will also be "earned assistance" which other users can "earn" to help mod manager the user assisted wiki.
@code {

}
